.about-us {
    position: relative;
    display: flex;
    gap: 7vw;

    &__content,
    &__text {
        display: flex;
        flex-direction: column;
        gap: 2vw;

        @media (max-width: 1000px) {
            gap: 3vw;
            font-size: 3vw;
        }
    }

    &__content {
        padding-top: 3vw;
    }

    &__top-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 5vw;
        grid-row-gap: 2vw;

        @media (max-width: 1000px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, auto);
            grid-column-gap: 0;
            grid-row-gap: 3vw;
            justify-items: center;
        }
    }

    &__text:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
        align-items: start;

        @media (max-width: 1000px) {
            grid-area: 1 / 1 / 2 / 2;
        }
    }

    &__text:nth-child(2) {
        grid-area: 2 / 1 / 3 / 2;

        @media (max-width: 1000px) {
            grid-area: 2 / 1 / 3 / 2;
        }
    }

    &__text:nth-child(3) {
        grid-area: 3 / 1 / 4 / 2;

        @media (max-width: 1000px) {
            grid-area: 4 / 1 / 5 / 2;
        }
    }

    &__text:nth-child(3) {
        grid-area: 4 / 1 / 5 / 2;

        @media (max-width: 1000px) {
            grid-area: 5 / 1 / 6 / 2;
        }
    }

    &__img {
        max-height: 43vw;
        width: auto;
        grid-area: 1 / 2 / 5 / 3;

        @media (max-width: 1000px) {
            display: none;
        }
    }

    &__img--mobile {
        display: none;

        @media (max-width: 1000px) {
            display: block;
            grid-area: 3 / 1 / 4 / 2;
            max-height: 70vw;
        }
    }
}