.header-wrapper {
    height: 100vh;
    width: 100vw;
    color: #fff;
    background-image: url(./img/promo/promo-img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}