.main-nav {
    padding-top: 20%;
    font-weight: 200;
    text-transform: uppercase;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    &__item {
        position: relative;
        display: flex;
        // height: 1vh;
        // width: 10vw;
    }

    &__img {
        display: none;
        position: absolute;
        top: 2%;
        left: -1.7%;
        width: 1vw;
        height: 2vh;

        @media (min-width: 1800px) {
            top: 10%;
        }
    }

    &__link {
        color: #fff;

        &:hover {
            text-decoration: underline  
        }

        &:hover ~ .main-nav__img {
            display: inline-block;
        }

        &--bold {
            font-weight: 600;
        }
    }
 
}