.main-nav {
    padding-top: 20%;
    font-weight: 200;
    text-transform: uppercase;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    &__item {
        position: relative;
        display: flex;
        max-height: 1.5vh;
        width: 10vw;

        &:hover {

            .main-nav__img {
                display: inline-block;
            }
        }
    }

    &__img {
        display: none;
        position: absolute;
        top: 0;
        left: -13%;
        width: 1vw;
        height: 2vh;
    }

    &__link {
        color: #fff;

        &:hover {
            text-decoration: underline;
        }

        &--bold {
            font-weight: 600;
        }
    }
 
}