.pagination {
    display: flex;
    justify-content: center;
    gap: 1vw;

    &--hidden {
        position: absolute;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        white-space: nowrap;
        width: 1px;
    }

    &__button {
        width: 2vw;
        height: 2vw;
        cursor: pointer;
        border: none;
        font-size: 1.7vh;
    }

    &__button--active {
        background-color: #000;
        color: #fff;
    }
}
