.product-card {
    position: relative;
    color: #000;
    cursor: pointer;

    &__img {
        margin-bottom: 1vw;
        background-color: #dbdbdb;
        min-width: 100%;
        height: auto;

        &:hover~.product-card__img-hover {
            display: block;
            background-color: #fff;
        }
    }

    &__img-hover {
        display: none;
        position: absolute;
        top: 0;
        left: 0;

        &:hover {
            display: block;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: .5vw;
    }

    &__title {
        font-weight: 600;
        font-size: 1vw;

        @media (max-width: 1000px) {
            font-size: 3vw;
        }
    }

    &__price {
        font-size: 1vw;

        @media (max-width: 1000px) {
            font-size: 3vw;
        }
    }
}
