.promo {
    position: relative;
    // max-width: 1240px;
    // margin: 0 auto;
    padding: 0 7%;
    height: 100%;

    &__logo {
        position: absolute;
        top: -20vh;
        left: 42vw;
        width: 15vw;
        height: 100vh;
        transform: rotate(22.5deg);
    }

    &__title {
        position: absolute;
        display: inline-block;
        top: 42vh;
        left: 37vw;
        width: 15vw;
        height: 100vh;
        font-size: 10vw;
        font-family: 'aston-calvin';
        text-transform: uppercase;
        letter-spacing: 7px;
    }

    &__text {
        position: absolute;
        display: inline-block;
        top: 57vh;
        left: 27vw;
        width: 47vw;
        height: 100vh;
        font-size: 5vw;
        font-family: 'bodega-script';
    }
}