.slider {
    position: relative;

    &__container {
        display: block;
        @media (min-width: 1001px) {
            display: grid;
            grid-area: 2 / 1 / 3 / 2;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            gap: 1vw;
        }
    }

    &__prev-button, 
    &__next-button {
        position: absolute;
        width: 7vw;
        height: 12vw;
        top: calc(50% - 6vw);
        border: none;
        background-image: url('./img/slider-arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: rgba(255, 255, 255, .5);
        cursor: pointer;

        @media (min-width: 1001px) {
        visibility: hidden;
    }
    }

    &__prev-button {
        left: 0;
    }

    &__next-button {
        right: 0;
        transform: rotate(180deg);
    }
}