/* montserrat-200 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: url("../styles/fonts/montserrat-v29-cyrillic_latin-200.woff2") format("woff2");
}
/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../styles/fonts/montserrat-v29-cyrillic_latin-regular.woff2") format("woff2");
}
/* montserrat-600 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../styles/fonts/montserrat-v29-cyrillic_latin-600.woff2") format("woff2");
}
/* aston-calvin-regular - latin */
@font-face {
  font-display: swap;
  font-family: "aston-calvin";
  font-style: normal;
  font-weight: 400;
  src: url("../styles/fonts/gimetta-marriage.otf") format("opentype");
}
/* aston-calvin-regular - latin */
@font-face {
  font-display: swap;
  font-family: "bodega-script";
  font-style: normal;
  font-weight: 400;
  src: url("../styles/fonts/BodegaScript.woff2") format("woff2");
}
* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2vw;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

.center-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-wrapper {
  height: 100vh;
  color: #fff;
  background-image: url(./img/promo/promo-img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: 0 auto;
  padding: 40px 3%;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header__logo {
  color: #fff;
}
.page-header__list {
  display: flex;
  justify-content: end;
  gap: 40px;
  width: 100%;
  text-transform: uppercase;
}
.page-header__link {
  color: #fff;
}

.main-nav {
  padding-top: 20%;
  font-weight: 200;
  text-transform: uppercase;
}
.main-nav__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.main-nav__item {
  position: relative;
  display: flex;
}
.main-nav__img {
  display: none;
  position: absolute;
  top: 2%;
  left: -1.7%;
  width: 1vw;
  height: 2vh;
}
@media (min-width: 1800px) {
  .main-nav__img {
    top: 10%;
  }
}
.main-nav__link {
  color: #fff;
}
.main-nav__link:hover {
  text-decoration: underline;
}
.main-nav__link:hover ~ .main-nav__img {
  display: inline-block;
}
.main-nav__link--bold {
  font-weight: 600;
}

.promo {
  position: relative;
  padding: 0 7%;
  height: 100%;
}
.promo__logo {
  position: absolute;
  top: -20vh;
  left: 42vw;
  width: 15vw;
  height: 100vh;
  transform: rotate(22.5deg);
}
.promo__title {
  position: absolute;
  display: inline-block;
  top: 42vh;
  left: 37vw;
  width: 15vw;
  height: 100vh;
  font-size: 10vw;
  font-family: "aston-calvin";
  text-transform: uppercase;
  letter-spacing: 7px;
}
.promo__text {
  position: absolute;
  display: inline-block;
  top: 57vh;
  left: 27vw;
  width: 47vw;
  height: 100vh;
  font-size: 5vw;
  font-family: "bodega-script";
}

.page-main {
  margin: 0 auto;
  padding: 2vw 3%;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1vw;
  overflow: hidden;
}

.product-card {
  margin-bottom: 30px;
  color: #000;
}
.product-card__img {
  margin-bottom: 10px;
}
.product-card__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.product-card__title {
  font-weight: 600;
  font-size: 1vw;
}
.product-card__price {
  font-size: 1vw;
}

.page-footer {
  position: relative;
  margin: 0 auto;
  padding: 1vw 3% 3vw;
}
.page-footer__logo {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.page-footer__logo-item {
  text-transform: uppercase;
  font-family: "aston-calvin";
  font-size: 5vw;
  letter-spacing: 7px;
}
.page-footer__text {
  text-transform: uppercase;
}
.page-footer__nav {
  position: absolute;
  top: 15%;
  right: 3vw;
}
.page-footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.page-footer__nav-link {
  color: #000;
}/*# sourceMappingURL=style.css.map */