/* montserrat-200 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: url("../styles/fonts/montserrat-v29-cyrillic_latin-200.woff2") format("woff2");
}
/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../styles/fonts/montserrat-v29-cyrillic_latin-regular.woff2") format("woff2");
}
/* montserrat-600 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../styles/fonts/montserrat-v29-cyrillic_latin-600.woff2") format("woff2");
}
/* aston-calvin-regular - latin */
@font-face {
  font-display: swap;
  font-family: "aston-calvin";
  font-style: normal;
  font-weight: 400;
  src: url("../styles/fonts/aston-calvin.otf") format("otf");
}
/* aston-calvin-regular - latin */
@font-face {
  font-display: swap;
  font-family: "bodega-script";
  font-style: normal;
  font-weight: 400;
  src: url("../styles/fonts/BodegaScript.woff2") format("woff2");
}
* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2vw;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

.center-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-wrapper {
  height: 100vh;
  width: 100vw;
  color: #fff;
  background-image: url(./img/promo/promo-img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 30px 7%;
}
.page-header__logo {
  display: none;
}
.page-header__list {
  display: flex;
  justify-content: end;
  gap: 40px;
  width: 100%;
  text-transform: uppercase;
}
.page-header__link {
  color: #fff;
}

.main-nav {
  padding-top: 20%;
  font-weight: 200;
  text-transform: uppercase;
}
.main-nav__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.main-nav__item {
  position: relative;
  display: flex;
}
.main-nav__img {
  display: none;
  position: absolute;
  top: 0;
  left: -1.7%;
  width: 1vw;
  height: 2vh;
}
.main-nav__link {
  color: #fff;
}
.main-nav__link:hover {
  text-decoration: underline;
}
.main-nav__link:hover ~ .main-nav__img {
  display: inline-block;
}
.main-nav__link--bold {
  font-weight: 600;
}

.promo {
  position: relative;
  padding: 0 7%;
  height: 100%;
}
.promo__logo {
  position: absolute;
  top: -20vh;
  left: 42vw;
  width: 15vw;
  height: 100vh;
  transform: rotate(22.5deg);
}
.promo__title {
  position: absolute;
  display: inline-block;
  top: 42vh;
  left: 35.5vw;
  width: 15vw;
  height: 100vh;
  font-size: 10vw;
  font-family: "aston-calvin";
  text-transform: uppercase;
  letter-spacing: -4px;
}
.promo__text {
  position: absolute;
  display: inline-block;
  top: 57vh;
  left: 28vw;
  width: 47vw;
  height: 100vh;
  font-size: 5vw;
  font-family: "bodega-script";
}/*# sourceMappingURL=style.css.map */